* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 75%;
    margin: auto;
}

h1 {
    font-size: 28px;
}


h1, h2, p{
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

figure {
    text-align: center;
}

img {
    width: 60%;
    justify-content: center;
    margin: auto;
}

ul li {
    margin-left: 45%;
}

.mobile_nav {
    overflow: hidden;
    /* position: fixed; */

}
.mobile_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}

.mobile_nav li {
    color: #fff;
    margin:auto;
    font-family: sans-serif;
}

.mobile_nav li a {
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
  }

li a:hover {
background-color: #1f1f1f;
color: white;
}

@media only screen and (max-width: 1000px) {
    img {
        width: 100%;
    }
  }
